header{
    width: 100%;
    background: #a477ff;
}
.titleHeader{
    font-size: 2.5rem;
    width: 58%;
    padding-top: 3rem;
    float: left;
    text-align: end;
}
.logo{
    width: 10rem;
    float: right;
    position: static;
}
.clear{
    clear: both;
}