header{
    width: 100%;
    height: 15%;
    background: #a477ff;

}
.titleHeader{
    font-size: 2.5rem;
    width: 58%;
    padding-top: 3rem;
    float: left;
    text-align: end;
    color: #fff;
}
.logo{
    width: 8rem;
    float: right;
    position: static;
    margin-top: 0.2rem;
}
.clear{
    clear: both;
}

@media(max-width:1280px){
    .logo{
        margin-top: 1rem;
    }
}

@media(max-width:1280px){
    .logo{
        margin-top: 0.5rem;
    }
    .titleHeader{
        width: 65%;
    }
}
@media(max-width:768px){

    header{
        height: 5rem;
    }
    .titleHeader{
        font-size: 2rem;
        padding-top: 1.4rem;
        width: 70%;
    }
    .logo{
        width: 6rem;
        margin-top: 0;
    }
}