Navbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.buttonNav{
    width: 20rem;
    height: 4rem;
    font-size: 1.7rem;
}