
.titleShowTask{
    color:  #ffff
    ;
    width: 85%;
    padding-left: 1rem;
}
.descriptionShowTask{
    width: 95%;
    margin-left: 0.5rem;
    max-height: 40%;
    text-align: center;
    color: #fff;
}
.file{
    width: 35%;
    margin-right: 1rem ;
    align-self: flex-end;
}
.itemTask{
    display: flex;
    width: 90%;
    margin-top: 1rem;
    font-size: 1.3rem;
    border-bottom:solid 1px white ;
}
.itemTask input{
    width: 3rem;
}
.circle1{
    background-color: red;
    width: 2rem;
    height: 1rem;
    border-radius: 50%;
}