.DivAddTask{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 1rem 0;
    align-items: center;
}

.titleTask{
    width: 15rem;
    height: 1.7rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    color:  #eb642f;
}
.DesTask{
    margin-top: 1rem;
    width: 20rem;
    height: 1.7rem;
}
.addTask{
    width: 10%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: solid white 1px;
}